@import "@/components/style.scss";
@import "~@feizheng/react-github-corner/dist/style.scss";
@import "~@feizheng/react-sw-update-tips/dist/style.scss";


.app-container {
  width: 80%;
  height: 80%;
  margin: 3% auto;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  border: 1px solid #bebebe;
  border-radius: 6px;
  .item {
    width:100%;
    margin: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    dt {
      font-size: 18px;
      padding-left: 14px;
      border-left: 4px solid #333;
      background: #eee;
      line-height: 30px;
      margin-bottom: 1px;
    }
    dd {
    }
  }
}
