@import "@/components/style.scss";
@import "~@feizheng/react-github-corner/dist/style.scss";
@import "~@feizheng/react-sw-update-tips/dist/style.scss";

.app-container {
  width: 80%;
  height: 80%;
  margin: 100px auto;
  max-width: 750px;
  .item {
    width: 100%;
    margin: 10px;
    border-radius: 10px;
    .react-highlight {
      margin: 10px 0 0;
      background: #282d33;
    }
    dt {
      font-size: 18px;
      padding-left: 14px;
      border-left: 4px solid #333;
      background: #eee;
      line-height: 30px;
      margin-bottom: 1px;
    }
  }
}
